<!DOCTYPE HTML>

<html lang="en">

<head>
    <meta charSet="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="theme-color" content="white" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" as="style" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" media="print" onload="this.media='all'" />
</head>

<body class="app__base">

    <%- include ../header/header.template.ejs %>

    <main class="app__main" id="main">
        <section class="sm__base">
            <div class="sm__reelsContainer"></div>
            <div class="sm__display"></div>
        </section>
    </main>

    <div class="app__coverLeft"></div>
    <div class="app__coverRight"></div>

    <section class="modal__root" id="instructionsModal">
        <h2 class="modal__title instructions__title">
            <span class="modal__titleIcon instructions__titleIcon">🕹️</span>Instructions
            <button class="modal__button" aria-label="Close Instructions Popup and Resume Game">
                <span class="modal__buttonIcon">×</span>
            </button>
        </h2>

        <%- include ../instructions/instructions.template.ejs %>
    </section>

    <section class="modal__root" id="payTableModal">
        <h2 class="modal__title pt__title">
            <span class="modal__titleIcon pt__titleIcon">🏆</span>Pay Table
            <button class="modal__button" aria-label="Close Pay Table Popup and Resume Game">
                <span class="modal__buttonIcon">×</span>
            </button>
        </h2>

        <%- include ../pay-table/pay-table.template.ejs %>
    </section>

    <%- include ../footer/footer.template.ejs %>

</body>
</html>
